---
http_interactions:
- request:
    method: get
    uri: https://data.police.uk/api/crimes-street/all-crime?lat=52.629729&lng=-1.131592
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"category":"anti-social-behaviour","location_type":"Force","location":{"latitude":"52.627817","street":{"id":883258,"name":"On
        or near Further\/higher Educational Building"},"longitude":"-1.134803"},"context":"","outcome_status":null,"persistent_id":"","id":40409713,"location_subtype":"","month":"2015-04"},{"category":"anti-social-behaviour","location_type":"Force","location":{"latitude":"52.635826","street":{"id":883521,"name":"On
        or near Bosworth Street"},"longitude":"-1.149673"},"context":"","outcome_status":null,"persistent_id":"","id":40409679,"location_subtype":"","month":"2015-04"},{"category":"anti-social-behaviour","location_type":"Force","location":{"latitude":"52.627387","street":{"id":883244,"name":"On
        or near Winifred Street"},"longitude":"-1.137589"},"conte[...]
